Source: maps
Maintainer: Aaruni Kaushik <akaushik@mathematik.uni-kl.de>
Section: misc
Priority: optional
Standards-Version: 4.6.0.1
Build-Depends: debhelper-compat (= 13)

Package: maps
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libcairo2-dev, git, gcc (>= 11), python3, python3-dev, libgirepository1.0-dev, libostree-dev, python3-tuspy, libcap-dev, autoconf, python3-gi, python3-tomli, meson, python3-progress, ostree 
Description: Mathematical Packaging System
 MaPS helps mathematicians create and publish software runtimes, 
 as well as deploy and run software inside published runtimes.
